<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 需要时可在此处追加权限 -->
    <!-- //NDJC:PERMISSIONS -->

    <application
        android:label="NDJC:APP_LABEL"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.NDJC">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- 启动入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 需要时可在此处追加更多 intent-filter -->
            <!-- //NDJC:INTENT_FILTERS -->
        </activity>
    </application>
</manifest>
